<div class="container">
    <div id="bg-img">
        <img src="/images/spotify-background.jpeg" alt="background spotify">
    </div>
    <div class="searcher">
        <div class="bg-white">
            <form action="/artist-search" method="GET">
                <label for=""></label>
                <input type="text" name="artist" id="">
                <button class="button" type="submit">Search for an artist</button>
            </form>
        </div>
    </div>

</div>